
body{
	text-align: left;
}

h1 {
	color: green;
	font-family: "Helvetica Neue", monospace;
	font-size: 78px;
	font-weight: normal;
	<!--text-decoration: underline-->;
	text-transform: uppercase;
	background-color: white;
    width: 1400px;
    border: 5px solid gold;
    padding: 5px;
    margin: 0px;
    font-family: "Helvetica", san-serif;
    text-align: left;
    font-size: 48px;

}

p{
	color: green;
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}


body{
	background-color: black;
	font-family: Helvetica, san-serif;
	color: #ff0000;
}
